html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

thead {
    background-color: powderblue;
}

tbody {
    background-color: aliceblue;
}

table.rounded-corners {
    border-radius: 10px;
    overflow: hidden;
}

/*table.rounded-corners {*/
    /* Change these properties */
    /*--border: 1px solid black;
    border-radius: 10px;*/
    /* Don't change these properties */
    /*border-spacing: 0;
    border-collapse: separate;
    border: var(--border);
    overflow: hidden;
}*/

    /* Apply a border to the right of all but the last column */
    /*table.rounded-corners th:not(:last-child),
    table.rounded-corners td:not(:last-child) {
        border-right: var(--border);
    }*/

    /* Apply a border to the bottom of all but the last row */
    /*table.rounded-corners > thead > tr:not(:last-child) > th,
    table.rounded-corners > thead > tr:not(:last-child) > td,
    table.rounded-corners > tbody > tr:not(:last-child) > th,
    table.rounded-corners > tbody > tr:not(:last-child) > td,
    table.rounded-corners > tfoot > tr:not(:last-child) > th,
    table.rounded-corners > tfoot > tr:not(:last-child) > td,
    table.rounded-corners > tr:not(:last-child) > td,
    table.rounded-corners > tr:not(:last-child) > th,
    table.rounded-corners > thead:not(:last-child),
    table.rounded-corners > tbody:not(:last-child),
    table.rounded-corners > tfoot:not(:last-child) {
        border-bottom: var(--border);
    }*/